extends layout


append headblock
  unless myItems
    script(src="/javascripts/buy-item.js")

block content
  h1= title
  unless myItems
    #loginDisplay
    #lastBought
  table#itemslist
    each item in items
      tr.item(data-id= item.id)
        td.image
          +createImage(`${item.image}`)
        td.title
          a(href=`/items/details/${item._id}`)= item.title
        td.price= `${item.price} €`
        if myItems
          td.delete
            a(href='/items/delete/'+item._id) X
        else 
          td.button
            if item.price <= user.money
              button(class= 'buybutton', data-id= item.id) Acheter
    else
      td.delete Aucun objet actuellement en vente
  
