extends layout

append headblock
    script(src="/javascripts/create-item.js")

block content
  - var theitem
  - if (item) { theitem = item } else { theitem =  { title : '', soldBy : '', price : ''} }
  h1 Créez une annonce
  div(id='userdata')
    input#title(placeholder="Titre de l'annonce", value= theitem.title)
    input#price(placeholder="Prix de vente", value= theitem.price)
    input#image(placeholder="Lien vers l'image", value= theitem.image)
  div(id='controls')
    button#createbutton Publier!
  #result