doctype html

mixin createImage(imgSrc)
  .image
    img(src=imgSrc)

html
  head
    block headblock
      title= title
      link(rel='icon', href='/images/favicon.ico')
      link(rel='stylesheet', href='/stylesheets/style.css')
      script(src="/javascripts/init.layout.js")
      
  block nav
    - var active
      ul
        li(class=(title === "Vendez les vôtres" ? "active" : undefined))
          a(class='nav-p' id='index' href='/') Accueil
        li(class=(title === "Gestion du compte" ? "active" : undefined))
          a(class='nav-p' id='user' href='/user') Gestion du compte
        li(class=(title === "Items REST API TODO" ? "active" : undefined))
          a(class='nav-p' id='items-rest-api' href='/itemsSPA') Annonces SPA
        li(class=(title === "Vos annonces" ? "active" : undefined))
          a(class='nav-p' id='myitems' href='/items/myitems') Mes annonces
        li(class=(title === "Liste d'objets en vente" ? "active" : undefined))
          a(class='nav-p' id='oth-items' href='/items') Parcourir les annonces
        li(class=(title === "Création d'une annonce" ? "active" : undefined))
          a(class='nav-p' id='create-item' href='/items/create') Créer une annonce
      

  body
    block content

  footer
    block footblock
      p Licence 3 - #[em Javascript Full Stack] - Ledun Alexandre & Nestor Skoczylas - 2022
