body {
  padding: 15px;
  display: block;
  margin: 10px;
  font-family: "Segoe UI",Arial,sans-serif;
  box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 50%);
}

div {
  width : 280px;
  margin : auto;
  padding : 2px;
  text-align :center;
}

div label {
  padding : 7px;
}
input {
  text-align :center;
}

button {
  padding : 3px;
  width : 100px;
  margin : 0px 5px;
  font-weight : bold;
}

#userdata {
  background-color : #DDD;
}
#userdata div{
  text-align : right;
  margin : 2px;
}
#controls {
  margin-top : 10px;
}

a {
  color: #00B7FF;
}


#booklist {
  border : solid 2px #404040;
  padding : 4px;
  margin: 10px auto;
}
tr.book {
  border : solid thin #404040;
  background-color : #E0E0E0;
}
td.author, td.title {
  padding : 2px 5px;
}

td.author {
  color  : green;
}

td.delete a {
  color : red;
  font-weight : bold;
  text-decoration : none;
}


.cover {
  width : 200px;
  padding  : 5px;
  background-color: rgba(100,155,100,0.5);
}

.cover img {
  width : 100%;
}

code {
  font-size : larger;

}


input {
  font-size : 24px;
  margin : 0px 2px;
}

#result, #answer {
  margin-top : 10px;
  background-color : rgba(200,20,20,0.5);
  padding : 3px;
}


#JSONanswer  {
  padding : 10px;
  margin  :10px;
  font-size : larger;
  font-style : italic;
}


#details {
  position : absolute;
  left : 400px;
  top : 250px;
  width : 200px;
  border : solid thin #CCC;
  background-color : rgba(20,200,20,0.5);
  padding : 5px;
}
#details dt {
  font-weight : bold;
}


#NB {
  margin-top : 20px;
  background-color : rgba(200,200,200,1);
  padding : 6px;
  margin : 10px 30px;
  font-style : italic;
}

li>strong::first-letter {
  color : red;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
  font-family: Verdana,sans-serif;
}

li a {
  border-right: 1px solid #bbb;
  display: block;
  font-size: .95rem;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 15px;
  line-height: 1.5;
}

li a:hover {
  background-color: #04aa6d86;
}

.active {
  background-color: #04AA6D;
  text-decoration: underline;
  text-decoration-color:rgb(255, 255, 255);
  text-decoration-thickness: 2px;
  text-underline-position: under;
}